<!DOCTYPE html>
<html>
<head>
  <title>The BeRoyalifier</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta property='og:title', content='The BeRoyalifier' />
  <meta property='og:url',   content='http://www.BeRoyalify.me' />
  <meta property='og:type',  content='website' />
  <meta property='og:image', content="http://res.cloudinary.com/dtembkrlo/image/upload/c_fill,g_face,h_640,w_640/c_scale,g_south_east,h_271,l_thanks_kc_4,x_10,y_10/v1414760923/ape_m4dq4j.jpg" />
  <meta property='og:description', content="Show your Kansas City Royals pride, Royalify your profile pic, and say thanks! #Royals" />
  <link href='http://fonts.googleapis.com/css?family=Arvo:700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-7328746-5', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

<%= yield %>

<%= cloudinary_js_config %>
<%- @overlays = { thanksKc: {overlay: 'thanks_kc_4', gravity: :south_east, height: 0.50, x: 10, y: 10} } %>

<script>
  $(document).ready(function() {
    var overlays = <%= @overlays.to_json.html_safe %>
    // Cloudinary jQuery integration library uses jQuery File Upload widget
    // (see http://blueimp.github.io/jQuery-File-Upload/).
    // Any file input field with cloudinary-fileupload class is automatically
    // wrapped using the File Upload widget and configured for Cloudinary uploads.
    // You can further customize the configuration using .fileupload method
    // as we do below.
    $(".cloudinary-fileupload")
      .fileupload({ 
        // Uncomment the following lines to enable client side image resizing and validation.
        // Make sure cloudinary/processing is included the js file
        //disableImageResize: false,
        // imageMaxWidth: 350,
        // imageMaxHeight: 350,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp)$/i,
        maxFileSize: 5000000, // 5MB
        dropZone: "#direct_upload",
        start: function (e) {
          $(".status").text("Starting upload...");
        },
        progress: function (e, data) {
          $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
        },
        fail: function (e, data) {
          $(".status").text("Upload failed");
        }
      })
      .off("cloudinarydone").on("cloudinarydone", function (e, data) {
        $(".status").text("");
        $.each(overlays, function(kind, overlay) {
          $('.overlays .' + kind + ' .image').html(              
            $.cloudinary.image(data.result.public_id, 
              $.extend({ format: data.result.format, version: data.result.version }, overlay))               
          ).addClass("th");
        });
        $(".overlays").append("<div class='columns text-left'><p>You've got options for saving:<ol><li>Tap and hold to save to your mobile device, if you're using one.</li><li>Drag your images to your desktop.</li><li>Or good old fashioned right-click and save</li></ol></p></div>");
      });
    });
    
</script>
</body>
</html>
